* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;  
}

body {
    background-color: rgb(25, 247, 43);
}

main {
    background-color: cornsilk;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(24, 1, 1, 0.61);
}



img.lado{
    float:right;
}